@tailwind base;
@tailwind components;
@tailwind utilities;

.navegation {
  display: flex;
  justify-content: space-evenly; 
  background-color: rgba(255, 110, 255, 0.397);
  font-size: 2.5em;
  padding: 1%;
  gap: 6em;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}

.firsticon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

body {
  background-color: rgb(255, 255, 255); 
  
}
.footer{
  width: 100vw;
  background-color: rgba(255, 110, 255, 0.610);
  display: flex;
  justify-content: center;
  position: end;
  align-items: center;
  height: 2.5vw;
  gap: 1em;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}

